# Sao chep file nay thanh db.properties va dien thong tin cua ban
# TUYET DOI KHONG commit file db.properties len Git

db.url=jdbc:mysql://localhost:3306/zingmp3?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
db.username=your_username
db.password=your_password
